.content{
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.meme-details{
  margin-top: 10vh;
}

.meme-details>p{
  font-size: 2rem;
}

.content>img{
  display: block;
  margin-top: 5vh;
}

#heading{
  padding-top: 5vh;
  text-align: center;
}
#heading>span{
  font-weight: bold;
}

.spinner{
  text-align: center;
}